body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    background-image: url('../images/123.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  .manage-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
  }
  
  .aa {
    font-family: 'Kiwi Maru', serif;
    /* background: none;
    background-color: rgba(0, 0, 0, 0.8);
    color:#ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    margin: 0.5em; */
    background-color: rgba(0, 0, 0, 0.9);
    color:#ffffff;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration-line: initial;
    text-transform: uppercase;
    transform: translateY(0px);
    border-radius: 10px 25px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(45, 143, 221);
    border-image: initial;
    border-radius: 100px;
    margin: 0px auto;
    padding: 16px 40px;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    transition: transform 0.2s ease-in-out 0s;
  }
  
  .aa:hover {
    border-color: #f1ff5c;
    color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
  }

.t1{
    font-family: 'Kiwi Maru', serif;
    color: rgb(255, 255, 255);
    font-size: 2em!important;
    border: 2px solid #f1ff5c;
    padding: 1em 1em;
    align-self: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
    border-radius: 40px;

}
.t1:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
}
.t2{
    font-family: 'Kiwi Maru', serif;
    color: white!important;
    font-size: 1.2em!important;
    border: 2px solid #f1ff5c;
    padding: 1em 2em;
    text-align: left;
    max-width:900px;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.zz{
    font-size: 2em!important;
    text-decoration: underline;
    font-family: 'Kiwi Maru', serif;
}

.colz{
    color: rgb(45, 143, 221);
    /* font-size: 1.25em; */
    font-weight: 500;
}
.colz1{
    color: rgb(190, 209, 20);
    /* font-size: 1.25em; */
    font-weight: 500;
}
@media (max-width: 800px){
    body {
        background-repeat: no-repeat;
        background-position:right;
      }
    .t1{
        border-radius: 20px;
    }
    .aa{
        margin: 0 0.1em;
    }
    .manage-buttons{
     flex-direction: column;
    }
}