


.nav-link:hover{
    background-color: rgb(15, 131, 50)!important;
}

.nav-link.active{
    background-color: rgb(0, 71, 48);
}

@media (min-width: 992px){
    .nav-link, .nav-link.active{
        border-radius: 5px;
    
    }
}