{% extends "game/base.html" %}

{% block nav-prologue %}<strong class="nav-active">Prologue</strong>{% endblock %}

{% block body_block %}

    <div class="container">
        <h1 class="display-5  text-black mt-2">Prologue</h1>
        <div class="row mt-4">
            <!-- <figure>
                <blockquote class="blockquote">
                    <p>“You’re only given a little spark of madness, you mustn’t lose it.”</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Robin Williams in his <cite title="Source Title">Emmy Award Acceptance Speech</cite>
                </figcaption>
            </figure> -->
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>“You’re only given a little spark of madness, you mustn’t lose it.”</p>
                        <footer class="blockquote-footer">Robin Williams in his <cite title="Source Title">Emmy Award
                                Acceptance Speech</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="row bg-light mt-4">
            <p class="font-weight-normal">
                Just moments before, the crowds and the pandemonium seemed a world away, even though all that separated
                him from them was the grand old curtain. Straightening his coat for the umpteenth time, a part of him
                wanted to shrivel up and enjoy that temporary peace for a little longer. But just then the curtains
                parted, and fear made way for wonderment, thrill and even a little hope. He could feel his unsure-self
                melting under the blinding lights, and he left it behind to step on stage. The noise was ecstatic, and
                the crowd loved him as much as he loved hearing them. With an ecstatic greeting he began, and their loud
                cheering just showed him that he was not going anywhere soon.
            </p>

            <p class="font-weight-normal">
                When the clock struck 10, people across an entire country would tune themselves in every day to laugh,
                remember and enjoy the ‘mind’ candy that he had perfected. In this world where we take our comedians
                seriously and the politicians as a joke, his fame was almost undemocratic.
            </p>

            <p class="font-weight-normal">
                The pen is mightier than the sword so it is said, but he had made his voice mightier than the pen, this
                was his power. To think that a comedian can lash at the politicians, to think that the tremors of his
                opinion could shake the very government, that was the extent of his success.
            </p>
            <p class="font-weight-normal">
                This was his stage, no one dared to challenge a joker in his own joke. Not until the sadists had
                gathered and an ultimatum was passed, the mischievous act of the comedian was silenced forever. The
                unchallenged king of the laughter lost his life to envy and greed.
            </p>
            <p class="font-weight-normal">
                Little did he know that night he would laugh his last laugh. Even the faint laughter of the people died
                down as they worded the only question on their mind. What had taken the laughter away?
            </p>
        </div>
    </div>

{% endblock body_block %}